<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" href="/css/layui.css">
    <script src="/javascript/layui.js"></script>
    <script src="/javascript/jquery-1.10.2.min.js"></script>
    <style>

    </style>
</head>

<body style="margin: 20px;">
    <div style="margin: 20px;">
        <%- data.date %>
        <span style="color: #fd0606">显示最近48小时内的数据</span>
            <!-- <a href="">显示昨天数据</a>
            <a href="">下载Excel数据</a> -->
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md4">
            <fieldset class="layui-elem-field layui-field-title" style="margin: 20px;">
                <legend>入款(<%- data.inCnt %>)笔</legend>
            </fieldset>
            <table id="inList" class="layui-table maintable">
                <th>标记</th>
                <th>时间</th>
                <th>金额</th>
                <th>操作人</th>
                <% for(let i=0; i < data.inList.length; i++){ %>
                    <tr>
                        <td style="margin: 0 20px;">
                            <%- data.inList[i].name %>
                        </td>
                        <td>
                            <%- data.inList[i].time %>
                        </td>
                        <td>
                            <%- data.inList[i].value %>
                        </td>
                        <td style="color: #999;">
                            <%- data.inList[i].op %>
                        </td>
                    </tr>
                    <% } %>
            </table>

            <br>
            入款分类
            <table id="inSummary" class="layui-table maintable">
                <% for(let i=0;i < data.inSummary.length; i++){ %>
                    <tr>
                        <td>
                            <%- data.inSummary[i].name %>
                        </td>
                        <td>
                            <%- data.inSummary[i].value %>
                        </td>
                    </tr>
                    <% } %>
            </table>

            <fieldset class="layui-elem-field layui-field-title" style="margin: 20px;">
                <legend>下发(<%- data.outCnt %>)笔</legend>
            </fieldset>
            <table id="outList" class="layui-table maintable">
                <th>标记</th>
                <th>时间</th>
                <th>金额</th>
                <th>操作人</th>
                <% for(let i=0; i < data.outList.length; i++){ %>
                    <tr>
                        <td>
                            <%- data.outList[i].name %>
                        </td>
                        <td>
                            <%- data.outList[i].time %>
                        </td>
                        <td>
                            <%- data.outList[i].value %>
                        </td>
                        <td style="color: #999;">
                            <%- data.outList[i].op %>
                        </td>
                    </tr>
                    <% } %>
            </table>
            <br>
            下发分类
            <table id="outSummary" class="layui-table maintable">
                <% for(let i=0;i < data.outSummary.length; i++){ %>
                    <tr>
                        <td>
                            <%- data.outSummary[i].name %>
                        </td>
                        <td>
                            <%- data.outSummary[i].value %>
                        </td>
                    </tr>
                    <% } %>
            </table>
            <br>
            <table id="summary" class="layui-table maintable">
            </table>
        </div>
    </div>

    <script>
        $(function () {
            function addSummary () {
                let items = [];
                items.push(`<tr><td>总入款</td><td><%- data.inTotal %></td></tr>`);
                items.push(`<tr><td>费率</td><td><%- data.rate %>%</td></tr>`);
                if ("<%- data.exchRate %>") {
                    items.push(`<tr><td>USD汇率</td><td><%- data.exchRate %></td></tr>`);
                }
                items.push(`<tr><td>应下发</td><td><%- data.distribeTotal %></td></tr>`);
                items.push(`<tr><td>已下发</td><td><%- data.hasDistribe %></td></tr>`);
                items.push(`<tr><td>未下发</td><td><%- data.unDistribe %></td></tr>`);
                $("#summary").append(items.join(""));
            }
            addSummary();
        })

    </script>
</body>

</html>